<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Add Contact</h1>
    <a href="/student">Show all students</a>
    <form action="/student/add" method="post">
      <input type="text" name="first_name" placeholder="First Name">
      <br>
      <input type="text" name="last_name" placeholder="Last Name">
      <br>
      <input type="text" name="email" placeholder="email">
      <button type="submit" name="button">Submit</button>
    </form>

  </body>
</html>
