<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to my page</h1>
    <br><br>
    <a href="/student">Student</a>   <a href="/subject">Subject</a>  <a href="/teacher">Teachers</a>
  </body>
</html>
