<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Student</title>
  </head>
  <body>
    <h1>Student</h1>
    <br><br>
    <table border="2">
      <tr>
        <th>id</th>
        <th>Subject</th>
      </tr>

    </table>
    <br><br>
    <form action="/student" method="post">
      <input type="text" name="name" placeholder="Name Subject">
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
